/* Reset */
:root {
    --background-color: #0D0D0D;
    font-family: 'Roboto', sans-serif;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #112 url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch4-aum-07_1_1.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=fa54b60dea7ea75803087c8e1417d1ea)  center no-repeat;
    background-size:cover;
  
    min-height: 100vh;
    color: #fff;
    
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;

}
/* Header */

header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    min-height: 8vh;
    color: #0D0D0D;
}

.left-side, .right-side {
    display: flex;
    align-items: center;
}

.logo img { 
    max-height: 1.8rem;
    margin-right: .7rem;
}

.right-side button {
    padding: 0 1.2rem;
    text-transform: capitalize ;
}

.right-side > :nth-child(2n + 2) {
    margin-right: .5rem;
}

.right-side > :nth-child(1) {
    margin-right: .2rem;
}

.right-side select {
    min-width: 8vw;
}

/* ********** */

/* Main */
.main {
    position: relative;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 502px;
}

.campo {
    
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box {
    height: 50px;
    width: 50px;
    border: 1px solid rgb(215, 215, 215);
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #F2811D,
            0 0 0.8rem #F2811D,
            0 0 2.8rem #F2811D,
            inset 0 0 1.3rem #F2811D;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.selected {
    background-color: #5cbf41;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #5CBF41,
            0 0 0.8rem #5CBF41,
            0 0 2.8rem #5CBF41,
            inset 0 0 1.3rem #5CBF41;

}

.medium {
    width: calc(50px * 9 + 2px) ;
}
.easy {
    width: calc(50px * 7 + 2px);
}

  
.neon {
color: #fee;
text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #5CBF41, 0 0 0.5em #5CBF41, 0 0 0.1em #5CBF41, 0 10px 3px #000;
}
